*{
    margin: 0;
    padding:0 ;
}

#logo{
    width: 7vw;
}
header h1{
    font-size:3vw;
}
header p{
    font-size: 1vw;
}
header .row{
    display:flex;
    align-items: center;
}
#fecha{
    padding-top: 3vw;
}
nav div{
    border-right: 1px solid black;
    font-size: 1vw;
}
nav img{
    width: 40%;
}
#live{
    display: flex;
    align-items: center;
}
section img{
    width: 40vw;
    display: flex;
    align-items: center;
}
section{
    
}